<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vrg.payserver.dao.RechargeRecordStatusMapper">

	<insert id="create">
		INSERT INTO recharge_record_status (
			charge_log_id,
			trade_no,
			partner_id,
			channel_id,
			device_id,
			paid_amount,
			paid_time,
			channel_trade_no,
			charge_channel_inst,
			search_channel_order_times,
			status,
			custom_info,
			create_time,
			exception_info,
			state_code
		) values (
			#{chargeLogId},
			#{tradeNo,jdbcType=VARCHAR},
			#{partnerId,jdbcType=VARCHAR},
			#{channelId,jdbcType=VARCHAR},
			#{deviceId,jdbcType=VARCHAR},
			#{paidAmount},
			now(),
			#{channelTradeNo,jdbcType=VARCHAR},
			#{chargeChannelInst,jdbcType=VARCHAR},
			#{searchChannelOrderTimes},
			#{status},
			#{customInfo,jdbcType=VARCHAR},
			now(),
			#{exceptionInfo,jdbcType=VARCHAR},
			#{stateCode,jdbcType=VARCHAR})
	</insert>
	
	<update id="update">
	       	update recharge_record_status 
		set
			partner_id=#{partnerId,jdbcType=VARCHAR},
			channel_id=#{channelId,jdbcType=VARCHAR},
			device_id=#{deviceId,jdbcType=VARCHAR},
			paid_amount=#{paidAmount},
			paid_time=#{paidTime},
			channel_trade_no=#{channelTradeNo,jdbcType=VARCHAR},
			charge_channel_inst=#{chargeChannelInst,jdbcType=VARCHAR},
			search_channel_order_times=#{searchChannelOrderTimes},
			status=#{status},
			custom_info=#{customInfo,jdbcType=VARCHAR},
			create_time=#{createTime},
			exception_info=#{exceptionInfo,jdbcType=VARCHAR},
			state_code=#{stateCode,jdbcType=VARCHAR}
		where trade_no=#{tradeNo,jdbcType=VARCHAR}
	</update>
	
	<select id="queryByTradeNo" resultType="com.vrg.payserver.service.vo.RechargeRecordBase">
		SELECT
			trade_no,
			partner_id,
			channel_id,
			device_id,
			paid_amount,
			paid_time,
			channel_trade_no,
			charge_channel_inst,
			search_channel_order_times,
			status,
			custom_info,
			create_time,
			exception_info,
			state_code
		from recharge_record_status
		where trade_no= #{0}
	</select>
	
	<select id="queryByChannelTradeNo" resultType="com.vrg.payserver.service.vo.RechargeRecordBase">
		SELECT
			trade_no,
			partner_id,
			channel_id,
			device_id,
			paid_amount,
			paid_time,
			channel_trade_no,
			charge_channel_inst,
			search_channel_order_times,
			status,
			custom_info,
			create_time,
			exception_info,
			state_code
		from recharge_record_status
		where channel_trade_no= #{0} and channel_id=#{1}
	</select>
	
	<select id="getTradeNoSegment" resultType="java.lang.Long">
		select nextval('TRADE_NO')
	</select>	
	
	<select id="getChargeLogId" resultType="java.lang.Long">
		select nextval('TRADE_NO')
	</select>
	
	<update id="updateChannelTradeNoByTradeNo">
		update recharge_record_status set channel_trade_no=#{1,jdbcType=VARCHAR} where trade_no = #{0}
	</update>

</mapper>