payserver-core/.idea/
payserver-core/.log/
payserver-core/build/
payserver-core/target/
payserver-core/*.iml
payserver-core/classes/*
payserver-core/*.ipr
payserver-core/*.iws
payserver-core/.classpath
payserver-core/.project
payserver-core/.settings
payserver-core/application.properties
payserver-core/application.pid
payserver-core/bin/
payserver-core/out
payserver-core/pom.xml
payserver-core/logs/

payserver-common/.idea/
payserver-common/.log/
payserver-common/build/
payserver-common/target/
payserver-common/*.iml
payserver-common/classes/*
payserver-common/*.ipr
payserver-common/*.iws
payserver-common/.classpath
payserver-common/.project
payserver-common/.settings
payserver-common/application.properties
payserver-common/application.pid
payserver-common/bin/
payserver-common/out
payserver-common/pom.xml
payserver-common/logs/

/application.properties
/application.pid
logs/*
flyway/application.properties
payserver-core/flyway/.classpath
payserver-core/flyway/.project
payserver-core/flyway/.settings/

.gradle/
.idea/
.project
.classpath
bin/
*.log
publish/
.settings
run/
run_backup/
~$*
*.ipr
*.iws