<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vrg.payserver.dao.PartnerMapper">
	
	<select id="queryByPartnerId" resultType="com.vrg.payserver.dao.model.Partner">
		SELECT
			id,
			partner_id,
			secret_key
		from cfg_partner_info
		where partner_id= #{0}
	</select>

</mapper>